@import "tailwindcss";

@theme {
  --color-jfrog-green: #40c057;
}

:root {
  --background: #0b1c2c;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
